* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  left: 60vh;
  top: 30vh;
  width: 750px;
  height: 530px;
  transform: translate(-50% -50%);
  box-shadow: 1px 1px 10px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 18px;
  display: flex;

  &__tasks {
    .tasks {
      padding: 60px;
      flex: 1;
      display: flex;
    }
  }


  &__sidebar {
    background-color: #F4F6F8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
  .field {
      background: #FFFFFF;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;

    &:focus {
      border-color: #dddddd;
    }
  }
  .button {
    background: #4DD599;
    border-radius: 4px;
    color: #FFFFFF;
    border: 0;
    padding: 10px 20px;

    &:hover {
      background: darken(#4DD599, 7%);
    }
    &:active{
      background: darken(#4DD599, 14%);
    }
  }

}